<footer>  
  <div id="contact" class="section">
    <div class="section-marker"><em>/</em></div>
    <div class="section-title">
      Have a Project, give us a call
    </div>

    <div class="threecols">
      <div class="head">
        Cospired GmbH
      </div>
      <div class="description">
        Ro&szlig;markt 6 <br />
        D-80331 Munich
      </div>
    </div>

    <div class="threecols">
      <div class="head">&nbsp;</div>
      <div class="description">
        <div class="descitem">P</div>+49 89 99954040 <br />
        <div class="descitem">F</div>+49 89 99954049 <br />
      </div>
    </div>

    <div class="threecols last">
      <div class="head">&nbsp;</div>
      <div class="description">
        <div class="descitem">E</div>hello@cospired.com <br />
        <div class="descitem">W</div><a href="/">cospired.com</a><br />
      </div>
    </div>
  </div>
  <div id="imprint" class="section">
    <div class="twocols">
      <p>Managing Directors:  Philipp Fehre, Dirk Haage, Jan Schmidle</p>

      <p>Registration court: Munich district court<br />
      Business license number: HRB 196843<br />
      Tax ID number: DE281743865<br />
      Responsible for the contents of this site: Philipp Fehre</p>

      <p>Disclaimer: Although maintaining rigorous control of all content, Cospired assumes no responsibility for the contents of third party websites linked to by this site. The contents of such third party sites are the sole responsibilty of their hosts.</p>        
    </div>
    <div class="twocols last">
      <p>Vertretungsberechtigte Gesch&auml;ftsf&uuml;hrer: Philipp Fehre, Dirk Haage, Jan Schmidle</p>

      <p>Registergericht: Amtsgericht M&uuml;nchen<br />
      Registernummer: HRB 196843<br />
      Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 Umsatzsteuergesetz: DE281743865<br />
      Inhaltlich Verantwortlicher gem&auml;&szlig; &sect; 10 Absatz 3 MDStV: Philipp Fehre</p>

      <p>Haftungshinweis: Trotz sorgf&auml;ltiger inhaltlicher Kontrolle &uuml;bernehmen wir keine Haftung f&uuml;r die Inhalte externer Links. F&uuml;r den Inhalt der verlinkten Seiten sind ausschlie&szlig;lich deren Betreiber verantwortlich.</p>              
    </div>
  </div>
  <div id="copyright">  
    &copy; 2012 by Cospired GmbH All rights reserved. <a href="#imprint">Imprint/ Impressum.</a>
  </div>
  
</footer>