<header>
  
  <div class="logo">
    <div class="title">COSPIRED</div>
    <div class="subline">Translating ideas into code</div>
    <div class="social-links">
      <a class="twitter icon" href="https://twitter.com/cospired"></a>
      <a class="facebook icon" href="https://www.facebook.com/pages/cospired/275733515819171"></a>
    </div>
  </div>  
  
</header>