<div id="tagline" class="section">

  <p>
    <em>Hello.</em> We are Cospired and we do: 
  </p>
  <p>
    API-Design, Web and Mobile Application Development, using NodeJS, Rails, jQuery, Compass, MongoDB... 
    and all the other hot technologies.
  </p>
    And now imagine what we could do for you<span class="blink">_</span>
</div>


<div id="clients" class="section">
  <div class="section-marker"><em>/</em></div>
  <div class="section-title">
    Here are some of our clients:
  </div>
  
  <a class="link" id="carpooling"></a>
  <a class="link" id="filmspieler"></a>
  <a class="link" id="ebd"></a>
  <a class="link" id="shakennotstirred"></a>
  <a class="link" id="dhbw"></a>
  <a class="link" id="postbank"></a>
  
</div>


<div id="people" class="section">
  
  <div class="section-marker"><em>/</em></div>
  <div class="section-title">
    Who we are
  </div>
  
  <div class="threecols">
    <div class="head">
      Dirk Haage
    </div>
    <div class="description">
       Networker with a tendency towards perfectionism. Always on the hunt for new and better tools to do the job. Moreover, he engages himself in UI and UX design. Find him <a href="http://dirk.haage.info">blogging</a> or on <a href="http://twitter.com/e110c0">twitter</a>.
    </div>
  </div>

  <div class="threecols">
    <div class="head">
      Philipp Fehre
    </div>
    <div class="description">
      Definitely our (Web)Developer at heart and in love with Rails, Cappuccino, iOS and Phonegap. Besides writing 
      code he is active in <a href="http://sideshowcoder.com">blogging</a>, <a href="https://filmspieler.com">podcasting</a>
      and on <a href="http://twitter.com/ischi">twitter</a>.
    </div>
  </div>
  
  <div class="threecols last">
    <div class="head">
      Jan Schmidle
    </div>
    <div class="description">
      Likes playing around with different web technologies, scalable architectures and distributed
      setups. Mainly focussed on backend tasks but always with the big picture in mind.
    </div>
  </div>
  
</div>


