@import "compass/reset";
@import "compass/css3/transition";
@import "compass/css3/text-shadow";
@import "compass/utilities/sprites";
@import "icons/*.png";
@import "partials/fonts";
@import "partials/vars";
@import "partials/animations";
@import "animate.sass";

body {
	background: $background-color url("../images/background.png") no-repeat center 200px;
	font-family:	Georgia, "Times New Roman", Times, serif;
	line-height: 1.5;
	color: $main-color;
	font-size: 16px;
}

em {
	color: $highlight-color !important;
}

a {
  display: inline-block; // required to inhibit initial transition
	text-decoration: underline;
	color: $link-color;
	@include transition-property(color);
	@include transition-duration(1s);
}
a:hover {
	text-decoration: none;
	color: $highlight-color !important;
}
a:visited {
	color: $link-color;
}

#container {
	padding: 0 32px;
	margin: 100px auto 0;
	width: 960px;
}

header {
  margin-bottom: -50px;
}

.logo {
	.title {
		font-family: "Geogrotesque-Light", sans-serif;
		font-size: 52px;
		margin-left: -4px;
		margin-bottom: -12px;
	}
	.subline {
		font-size: 13px;
		color: $highlight-color;
	}
}

.icon {
	width: 26px;
	height: 19px;
	display: inline-block;
}

.social-links {
  float: right;
  width: auto;
	position: relative;
	top: -23px;
	text-align: right;
}

.twitter  {
	@include icons-sprite(twitter);
}
.facebook {
	@include icons-sprite(facebook);
}

.blink{
  //color: $highlight-color;
  margin-left: 5px;
  font-weight: 900;
  @include text-shadow($main-color 0 0 3px);
  @include animation-name(blink);
  @include animation-duration(0.7s);
  @include animation-iteration-count(infinite);
  @include animation-timing-function(linear);
  @include animation-direction(alternate);
}

.clearfix {
  clear:both;
}
// main section style
.section {
  display: inline-block;
  width: 100%;
	clear:both;
  margin-top: 150px;
  .section-marker{
    width: 18px;
    position: relative;
    float: left;
    left: 0px;
  }
  .section-title{
    margin-bottom: 40px;
  }
  p {
    margin: 20px 0;
  }
}

.leftlink {
//	display: inline-block;
  text-align: left;
}
.rightlink {
//	display: inline-block;
  text-align: right;
}
// column styles
.twocols, .threecols {
	display: inline-block;
	vertical-align: top;
	margin-right: 26px;

	&:last-child{
	   margin-right: 0 !important;
	}
}

// three columns style
.threecols {
	width: 300px;
	.head {
		margin: 0 0 20px 0;
		color: $highlight-color;
	}
}

// two columns style
.twocols {
	width: 465px;
}

// description style
.descitem{
  float: left;
  color: $highlight-color;
  width: 1.5em;
}


// special section stylings

#tagline {
	font-size: 26px;
	text-align: justify;
	//margin-top: 0;
	p {
		margin-bottom: 40px;
	}
}

#clients {
	height: 350px;
	.link {
		display: block;
		position: absolute;
		min-width: 200px;
		min-height: 30px;
	}
	#carpooling{
		top:650px;
		left:100px;
	}
	#filmspieler{
		top:620px;
		left:390px;
	}
	#ebd{
		top:610px;
		left:620px;
	}
	#shakennotstirred{
		top:640px;
		left:830px;
	}
	#dhbw{
		top:730px;
		left:600px;
	}
	#postbank{
		top:760px;
		left:320px;
	}
}

#imprint {
  margin-top: 50px;

  color: $link-color;
  font-size: 12px;
  height: 0px;
  overflow: hidden;
  opacity: 0.0;
  @include transition-property(all);
	@include transition-duration(1s);
}

#imprint:target {
  height: 242px;
  overflow: visible;
  opacity: 1.0;
}

#imprint:target #copyright {
  display: none;
}

#copyright {
  font-size: 12px;
  color: $link-color;
  text-align: right;
	margin: 150px 20px 0 0;
	padding-bottom: 10px;
}
